<!DOCTYPE html>
<html class="no-js">
    <head>
        {%load static%}
        <!-- Meta Tags -->        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>True Line interior</title>
        <meta name="description" content="A Template by Vizid Decos"/>
        <meta name="keywords" content=""/>
        <meta name="author" content="Vizid Decos"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="fab/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
       <!--  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">  -->
        <link rel="icon" type="image/x-icon" href="{%static 'display/img/fav.jpg'%}">

        <!-- Web Fonts -->        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700' rel='stylesheet' type='text/css'/>

        <!-- Css Global Compulsory -->
        <link rel="stylesheet" href="{%static 'display/css/bootstrap.min.css'%}" />

        <!-- Css Implementing Plugins -->
        <link rel="stylesheet" href= "{%static 'display/css/font-awesome.min.css'%}" />
        <link rel="stylesheet" type="text/css" href="{%static 'display/css/revolution/style.css'%}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{%static 'display/css/revolution/extralayers.css'%}"media="screen"/>
        <link rel="stylesheet" type="text/css" href= "{%static 'display/css/revolution/settings.css'%}" media="screen"/>
        <link rel="stylesheet" href= "{%static 'display/css/owl.carousel.css'%}"  />
        <link rel="stylesheet" href="{%static 'display/css/owl.theme.css'%}" />
        <link rel="stylesheet" href="{%static 'display/css/cubeportfolio.min.css'%}" />
        <link rel="stylesheet" href="{%static 'display/css/jquery.mmenu.css'%}" />

        <!-- Css Theme -->           
        <link rel="stylesheet" href= "{%static 'display/css/style.css'%}">
    </head>

 <body> 

        <!--Start Preloader-->
        <div id="preloader">
            <div class="preloader-container">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
        <!--End Preloader-->

        <!-- Navbar -->
        <nav class="navbar navbar-default header-nav" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Logo -->        
                    <a class="navbar-brand" href="index.html"><img src="{%static 'display/img/logo.jpg'%}" class="img-responsive" alt="VizidDecos"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="{%url 'index'%}">Home</a></li>
                        <li><a href="{%url 'about'%}">About</a></li>
                       <!-- <li><a href="#projects">Projects</a></li>     -->               
                        <li><a href="{%url 'section'%}">Products</a></li>
                       <li><a href="{%url 'contact'%}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
                  
        <!-- Header Background Parallax Image -->
        <div id="about_bg">
            <div class="head-title" style="color:purple">
                <h2 style="color:purple">About Us </h2>
            </div>  
        </div>
        <!-- End Header Background Parallax Image -->        

        <!-- Site Wrapper -->
        <div class="site-wrapper">                        

            <!-- Who We Are -->            
            <div class="container who-we-are padding-bottom">              
                <div class="row">
                    <div class="col-md-8 about-caption">
                        <div class="general-title">
                            <h2>Our Story</h2>
                            <div class="space-bottom-2x"></div>   
                        </div>
                        <!--<h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</h5>-->                                               
                        <p>Vizid Decors hass been in the bussiness of creating redefined and outstanding interior spaces for our clientele
                        since 2015,As a premium interior design firm, we employ the use of every interior design elements and
                        principles in ensuringwe create functional spaces for our clients; without missing out on the aesthetics.
                        </p>

                        <p>We specialize in full-service interior design, including customs/foreign(Turkish and Chinese) furniture, lighting
                            and art procurement/installation, curtains and window blinds installation, wall finishing, ceiling and floor
                            finishing, among others. Our projects resume includes both new home construction and renovations of residential
                            interiors of all sizes, small to large. At vizid Decors Ltd, our services extends to boutiques, hotels,
                            restaurants, hospitals, schols and offices.
                            We are committed to actualizing our clients imaginations while maintaining integrity
                        </p>
                        <p>At vizid Decors Ltd, we respect your budget and customize solutions that work within it.Our personal
                            involvement will be thorough, providing you with an in-dept understanding of our and design work.
                            We believe that constant attention to detail from our first conceptual effort to the final installation of
                            furniture is essential to ensuring your satisfaction

                        </p>

         
                      
                        <div class="space-bottom-2x"></div>
                        <!--<a href="#" class="btn gold-btn">Read More</a>-->
                    </div>              
                    <div class="col-md-4 text-center">                                
                        <br>
                        <h3>Founded in 2015</h3>
                        <hr>
                        <h3>More than 2000 Happy Customers</h3>
                        <hr>
                        <h3>More Than 1000 completed Projects </h3>
                        <hr>
                       
                    </div>              
                </div>                                              
            </div><!-- /container -->                   
            <!-- End Who We Are --> 

            <!-- Our Office Slider
            <div class="bg-color padding-bottom padding-top-x2">
                <div class="container">
                    <div class="general-title text-center">
                        <h2>Our Office</h2>
                        <div class="space-bottom-2x"></div>   
                    </div>                                        
                    <div id="owl-office" class="owl-carousel owl-theme">

                    <div class="item">
                        <img src="img/about/office_1.jpg" alt="Specifie an alternate text for an image" >                    
                    </div>
                    <div class="item">
                        <img src="img/about/office_2.jpg" alt="Specifie an alternate text for an image" >                    
                    </div>
                    <div class="item">
                        <img src="img/about/office_3.jpg" alt="Specifie an alternate text for an image" >                    
                    </div>

                    </div>
                </div>
            </div> -->
            <!-- End Our Office Slider -->                                       

            <!-- Testimonials -->
            <div id="testimonials">
                <div class="container text-center padding-bottom padding-top-x2">

                    <div class="general-title">
                        <h2>From Clients</h2>
                        <div class="space-bottom-2x"></div>
                    </div>
                    <div class="row">
                        <div id="owl-testimonials" class="owl-carousel owl-theme">
                            {%for com in comment%}
                            <div class="item">
                                <div class="col-md-8 col-md-offset-2 t-info">
                                    <p>{{com.comment}}</p>
                                    <b>- {{com.name}}</b>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Testimonials                                         

        </div> /site-wrapper -->
        <!-- End Site Wrapper --> 

        <!-- Call to Action -->
        <div class="cta-section padding-top-x2 padding-bottom">
            <div class="container text-center">
                <div class="cta-title">
                    <h2>Want to work with us?</h2>
                    <div class="space-bottom-2x"></div>     
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                       <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>                    
                        <div class="space-bottom-2x"></div>    
                        <a href="{%url 'contact'%}" class="btn gold-btn" style="background-color:purple">Get In Touch</a>
                    </div>
                </div>
            </div>    
        </div>
        <!-- End Call to Action --> 

        <!-- Footer -->  
        <div class="footer-big">
            <div class="container">
                <div class="row">

                    <!-- About Us Information -->
                    <div class="col-md-3 col-sm-6">                           
                        <div class="f-logo">
                            <h2>Our<br>Offices</h2>                                                                    
                        </div>
                    </div>
                    
                    <!-- Recent Posts -->
                    

                    <!-- Latest Tweet -->
                    

                    <!-- Recent Works -->
                    <div class="col-md-6 col-sm-6 f-inner">   
                        <div class="col-sm-1">
                            <i class="fa fa-map-marker fa-lg"></i> 
                        </div>
                        <div class="col-sm-11">
                            <strong>Nigeria</strong>
                            <div class="f-space"></div>
                           <address>                                
                                45ss beside Stadium Gate, School Rd, Umuahia<br>
                                    Abia State-RN-1857056           <br>
                                    <abbr title="Phone">P:</abbr> 08139980010 <br/>
                                    <abbr title="Phone">M:</abbr> 09033225454 <br/>
                                    vizidgroups@gmail.com<br/>
                                    MarviesSoftTech@gmail.com
                            </address>
                        </div>      
                    </div>                           

                       <div class="col-md-3 col-sm-6">                           
                        <div class="f-logo">
                          <img src="{%static 'display/img/logo.jpg'%}" width="167" height="82">
                            </div>
                    </div>


                </div>
            </div>
        </div>   

        <div id="footer">
            <div class="container">   
                <div class="row">                                                         
                    <!-- Copyright -->                                                       
                    <div class="col-sm-6 col-md-6 f-copyright">                        
                        <span>© Copyright  - All Rights Reserved</span>                        
                    </div>                      
                    <div class="col-sm-6 col-md-6">
                        <!-- Social Icons -->                              
                        <ul class="footer-social">
                            <li><a href="https://wa.me/09033225454"><span class="fa-stack fa-lg"></span><img height="40px" src="{%static 'display/img/about/whatsapp.png'%}"></a></li>
                            <li><a href="https://instagram.com/vizid_decors?iqshid=YmMyMTA2M2Y="><span class="fa-stack fa-lg"></span><img height="40px" src="{%static 'display/img/about/instagram.jpeg'%}"></a></li>
                            <li><a href="https://m.facebook.com/vizidcutie/"><span class="fa-stack fa-lg"></span><img height="40px" src="{%static 'display/img/about/facebook.png'%}"></a></li>

                        </ul>
                    </div>
                </div><!-- /row -->
            </div><!-- /container -->
        </div>        
        <!-- End Footer -->

 <!-- jQuery Plugins -->                                 
        <script src="{%static 'display/js/jquery-1.11.1.min.js'%}" ></script>
        <script src= "{%static 'display/js/bootstrap.min.js'%}"></script>
        <script src="{%static 'display/js/jquery.themepunch.tools.min.js'%}"></script>
        <script src="{%static 'display/js/jquery.themepunch.revolution.min.js'%}"></script>
        <script src="{%static 'display/js/jquery.cubeportfolio.min.js'%}" ></script>
        <script src= "{%static 'display/js/owl.carousel.js'%}"></script>
        <script src="{%static 'display/js/moderniz.js'%}"></script>
        <script src= "{%static 'display/js/jquery.sticky.js'%}"></script>
        <script src="{%static 'display/js/jquery.mmenu.min.js'%}"></script>
       <!--  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>      -->
        <script src= "{%static 'display/js/app.js'%}"></script>
</body>
</html>
